{%extends 'base.html'%}
{%block content%}
<h3>Welcome to Awwards</h3>
{{user.username}}

<!-- Container -->
<div class="row">

    <!-- Column -->
    <div class="col-md-4 mb-4 d-flex align-items-stretch">

        <!--Card-->
        <div class="card">

            <!--Card image-->
            <div class="view overlay">
                <img src="https://mdbootstrap.com/img/Photos/Horizontal/Nature/6-col/img%20(132).jpg"
                    class="card-img-top" alt="">
                <a href="#">
                    <div class="mask rgba-white-slight"></div>
                </a>
            </div>

            <!--Card content-->
            <div class="card-body">
                <!--Title-->
                <h4 class="card-title">Card title</h4>
                <!--Text-->
                <p class="card-text">At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis
                    praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint
                    occaecati cupiditate non provident, similique sunt in culpa qui officia deserunt mollitia animi, id
                    est laborum et dolorum fuga. Et harum quidem rerum facilis est et expedita distinctio. Nam libero
                    tempore, cum soluta nobis est eligendi optio cumque nihil impedit quo minus id quod maxime placeat
                    facere possimus, omnis voluptas assumenda est, omnis dolor repellendus.</p>
            </div>

        </div>
        <!--/.Card-->

    </div>
    <!-- Column -->
</div>
<!-- Container -->
{%endblock%}