{%include 'base.html'%}
{%block content%}
{%load bootstrap3%}
<p>{{project.title}}</p>
<p>{{project.description }}</p>
<div class="container" style="font-family: 'Jost', sans-serif;">
    <div class="row  p-5 mt-5">

        <div class="col-md-6">
            <div class="panel panel-default">
                <div class="card p-3">

                    <form class="form" action="" method="post" novalidate>
                        {% csrf_token %}
                        {% bootstrap_form form %}
                        <div class="row pl-5">
                            <button type="submit" class="btn btn-sm btn-outline-primary"
                                style="margin-top:14px; margin-left:-10px">Review</button>
                        </div>


                    </form>

                </div>

            </div>
        </div>
    </div>
</div>

{%endblock%}